<div class="jumbotron" style="background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(55, 55, 55) 50%, rgba(128,113,0,1) 100%);
border-color: gray;">
  <div class="container text-center">
    <div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
      <div class="card p-3">
        <div class="e-navlist e-navlist--active-bg">
          <ul class="nav">
            <li><a style="color: rgb(157, 135, 8);" data-toggle="tab" href="#home">Nuevo producto</a></li>
            <li><a style="color: rgb(157, 135, 8);" href="#" routerLink="/admin-chat">chat</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">

                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded"
                          style="height: 140px; background-color: rgb(233, 236, 239);">
                          <!-- <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->
                          <div>

                            <img *ngIf="!edited" src="{{user.url}}" alt=""
                              class="img-thumbnail rounded mx-auto d-block">

                            <img *ngIf="edited" src="{{userPic}}" alt="" class="img-thumbnail rounded mx-auto d-block">

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.name}} {{user.lastname}}</h4>
                        <p class="mb-0">{{user.email}}</p>

                        <!-- <div class="mt-2">
                          <button class="btn btn-dark" type="button" style="color: gold;">
                            <i class="fa fa-fw fa-camera"></i>
                            <span>Cambiar imagen</span>
                          </button>
                        </div> -->

                        <div id="open-btn"></div>
                        <div>
                          <button style="color: gold;" id="upload_widget" (click)="onOpenUpload($event)"
                            class="btn btn-dark">
                            <i class="fa fa-fw fa-camera"></i>
                            <span>Cambiar imagen</span>
                          </button>
                        </div>

                      </div>
                      <div class="text-center text-sm-right">
                        <span class="badge badge-secondary" style="color: gold;">Administrador</span>
                        <div class="text-muted"><small></small></div>
                        <span *ngIf="user.isVerified" class="badge badge-secondary"
                          style="color: gold;">Verificado</span>
                      </div>
                    </div>
                  </div>

                  <div>
                    <hr>
                    <h5>Datos personales:</h5>
                    <!-- <form class="form" novalidate=""> -->
                    <span>{{editUser | json}}</span>
                    <br>
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Nombre</label>
                              <input class="form-control" type="text" name="name" placeholder="{{user.name}}"
                                value={{user.name}} [(ngModel)]="editUser.name">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Apellido</label>
                              <input class="form-control" type="text" name="username" placeholder="{{user.lastname}}"
                                value={{user.lastname}} [(ngModel)]="editUser.lastname">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Correo</label>
                              <input disabled class="form-control" type="text" placeholder="{{user.email}}"
                                value={{user.email}}>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>Rol</label>
                              <input disabled class="form-control" type="text" placeholder="My Role"
                                value={{user.role}}>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Cambiar contraseña</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Contraseña actual</label>
                              <input disabled class="form-control" type="password" placeholder="(contraseñas cifradas)">
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                        <div class="mb-2"><b><br></b></div>
                        <div class="row">
                          <div class="col">

                            <!-- <label>Configuración de correo</label>
                            <div class="custom-controls-stacked px-2">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-news">
                                <label class="custom-control-label" for="notifications-news">Newsletter</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-offers">
                                <label class="custom-control-label" for="notifications-offers">Ofertas</label>
                              </div>
                            </div> -->

                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nueva contraseña</label>
                                  <input disabled class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Confirmar<span class="d-none d-xl-inline">
                                      contraseña</span></label>
                                  <input disabled class="form-control" type="password" placeholder="••••••"></div>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-dark" type="submit" style="color: gold;" (click)="submitEdit()">Guardar
                          cambios</button>
                      </div>
                    </div>
                    <!-- </form> -->
                  </div>

                  <!-- <ul class="nav nav-tabs">
                    <li class="active"><a style="color: rgb(157, 135, 8);" data-toggle="tab" href="#home">Datos
                        Personales</a>
                    </li>
                    <li><a style="color: rgb(157, 135, 8);" data-toggle="tab" href="#producto">Nuevo producto</a></li>
                    <li><a style="color: rgb(157, 135, 8);" data-toggle="tab" href="#chatMsg">Chat</a></li>
                  </ul> -->

                  <!-- <div class="tab-content"> 
                    <div id="home" class="tab-pane fade in active">
                      <h3>Datos personales</h3>
                      <form class="form" novalidate="">
                        <p>Ojo: aún no conocemos qué datos manejamos o cómo funcionarán los
                          features.</p> <br>
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nombre completo</label>
                                  <input class="form-control" type="text" name="name" placeholder="Juanito Pérez"
                                    value="Juanito Pérez">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Usuario</label>
                                  <input class="form-control" type="text" name="username" placeholder="eljuan123.s"
                                    value="eljuan123.s">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Correo</label>
                                  <input class="form-control" type="text" placeholder="user@example.com">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>Descripción</label>
                                  <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Cambiar contraseña</b></div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Contraseña actual</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nueva contraseña</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Confirmar<span class="d-none d-xl-inline">
                                      contraseña</span></label>
                                  <input class="form-control" type="password" placeholder="••••••"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                            <div class="mb-2"><b>Mantenernos en contacto</b></div>
                            <p>Ojo: aún no conocemos qué datos manejamos o cómo
                              funcionarán los features.</p>
                            <div class="row">
                              <div class="col">
                                <label>Configuración de correo</label>
                                <div class="custom-controls-stacked px-2">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notifications-news">
                                    <label class="custom-control-label" for="notifications-news">Newsletter</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notifications-offers">
                                    <label class="custom-control-label" for="notifications-offers">Ofertas</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-dark" type="submit" style="color: gold;">Guardar
                              cambios</button>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div id="producto" class="tab-pane fade">
                      <h3>Agregar producto nuevo</h3>
                      <form class="form" novalidate="">
                        <p>Ojo: aún no conocemos qué datos manejamos o cómo funcionarán los
                          features.</p> <br>
                        <div class="row">


                          <div class="col">
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>Imagen</label>

                                  <br>
                                  <input style="align-content: center" type="file" name="image">
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nombre del producto</label>
                                  <input class="form-control" type="text" name="name" placeholder="Cura p/ COVID-19"
                                    value="">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Precio</label>
                                  <input class="form-control" type="text" name="username" placeholder="$69,420.00"
                                    value="">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Cantidad disponible</label>
                                  <input class="form-control" type="text" name="quantity" placeholder="1-99" value="">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>Descripción del producto</label>
                                  <textarea class="form-control" rows="5"
                                    placeholder="Una cura para el coronavirus."></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button style="color: gold;" class="btn btn-dark" type="submit">Publicar
                              producto</button>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div id="chatMsg" class="tab-pane fade">
                      <h3>Chat</h3>
                      <app-admin-chat></app-admin-chat>
                    </div>
                  </div> -->


                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3 mb-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="px-xl-3">
                  <button style="color: gold;" class="btn btn-block btn-dark">
                    <i class="fa fa-sign-out"></i>
                    <span>Salir</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<br>
<hr>
