<div>
        <div class="container">
          <div class="text-center credits">
            <div>
              <img src="/img/pharma-logo copy.png" style="width: 100px;" class="center">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <h2 class="key_features">
                      Categorías destacadas</h2>
                    <a href="">Proteinas</a> <br>
                    <a href="">Vitaminas</a> <br>
                    <a href="">Accesorios</a> <br>
                    <a href="">Barras</a><br>
                    <a href="">Planes</a>
      
                  </div>
                  <div class="col-sm-6">
                    <h2 class="key_features">
                      Contáctanos</h2>
      
                    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Escríbenos</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                              <i class="fas fa-user prefix grey-text"></i>
                              <input type="text" id="form34" class="form-control validate">
                              <label data-error="wrong" data-success="right" for="form34">Tu nombre</label>
                            </div>
      
                            <div class="md-form mb-5">
                              <i class="fas fa-envelope prefix grey-text"></i>
                              <input type="email" id="form29" class="form-control validate">
                              <label data-error="wrong" data-success="right" for="form29">Tu correo</label>
                            </div>
      
                            <div class="md-form mb-5">
                              <i class="fas fa-tag prefix grey-text"></i>
                              <input type="text" id="form32" class="form-control validate">
                              <label data-error="wrong" data-success="right" for="form32">Subject</label>
                            </div>
      
                            <div class="md-form">
                              <i class="fas fa-pencil prefix grey-text"></i>
                              <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                              <label data-error="wrong" data-success="right" for="form8">Tu mensaje</label>
                            </div>
      
                          </div>
                          <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-unique">Enviar<i class="fas fa-paper-plane-o ml-1"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <a href="https://www.facebook.com/pharmafine/">Facebook</a> <br>
                    <a href="https://www.instagram.com/">Instagram</a> <br>
                    <p>Tel: 01 800 PF</p> <br>
                    <a href="" class="btn btn-dark" data-toggle="modal" data-target="#modalContactForm">Escríbenos aquí!</a>
                  </div>
                </div>
                <span>Aceptamos:</span> <img src="https://gnc.com.mx/media/wysiwyg/tarjetas_credito_2_1.png" alt=""
                  class="center" style="" />
              </div>
            </div>
          </div>
        </div>
      
        <hr>
      
        <footer>
          <p class="text-center">© 2020 PAE <a href="https://www.iteso.mx/">Instituto Tecnológico de Estudios Superiores
              de
              Occidente</a></p>
        </footer>
      
      </div>
      