<div class="jumbotron" style="background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(55, 55, 55) 50%, rgba(128,113,0,1) 100%);
border-color: gray;">
  <div class="container text-center">
    <div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
      <div class="card p-3">
        <div class="e-navlist e-navlist--active-bg">
          <a style="color: rgb(157, 135, 8);" data-toggle="tab" href="#home">Mi bolsa</a> <br>
          <a style="color: rgb(157, 135, 8);" data-toggle="tab" href="#" routerLink="/user-chat">chat</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">

                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded"
                          style="height: 140px; background-color: rgb(233, 236, 239);">
                          <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Juanito Pérez</h4>
                        <p class="mb-0">@eljuan123</p>
                        <div class="mt-2">
                          <button class="btn btn-dark" style="color: gold;" type="button">
                            <i class="fa fa-fw fa-camera"></i>
                            <span>Cambiar imagen</span>
                          </button>
                        </div>
                      </div>
                      <div class="text-center text-sm-right">
                        <span class="badge badge-secondary" style="color: gold;">Usuario</span>
                        <div class="text-muted"><small></small></div>
                      </div>
                    </div>
                  </div>

                  <div>
                        <hr>
                        <h5>Datos personales:</h5>
                        <!-- <form class="form" novalidate=""> -->
                        <br>
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nombre</label>
                                  <input class="form-control" type="text" name="name" placeholder="Juanito Pérez"
                                    value={{user.name}}>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Apellido</label>
                                  <input class="form-control" type="text" name="username" placeholder="eljuan123.s"
                                    value={{user.lastname}}>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Correo</label>
                                  <input class="form-control" type="text" placeholder="user@example.com"
                                    value={{user.email}}>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>Rol</label>
                                  <input class="form-control" type="text" placeholder="My Role" value={{user.role}}>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Cambiar contraseña</b></div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Contraseña actual</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nueva contraseña</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Confirmar<span class="d-none d-xl-inline">
                                      contraseña</span></label>
                                  <input class="form-control" type="password" placeholder="••••••"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                            <div class="row">
                              <div class="col">
                                <label>Configuración de correo</label>
                                <div class="custom-controls-stacked px-2">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notifications-news">
                                    <label class="custom-control-label" for="notifications-news">Newsletter</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notifications-offers">
                                    <label class="custom-control-label" for="notifications-offers">Ofertas</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-dark" type="submit" style="color: gold;">Guardar
                              cambios</button>
                          </div>
                        </div>
                        <!-- </form> -->
                      </div>



                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3 mb-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="px-xl-3">
                  <button class="btn btn-block btn-dark" style="color: gold;">
                    <i class="fa fa-sign-out"></i>
                    <span>Salir</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<br>
<hr>
