<!-- Start of navigation -->
<nav class="navbar navbar-expand  fixed-top nav-pharma" [ngStyle]="{'background': HeaderBackgroundColor == true ? 'rgba(0, 0, 0, 0.6)' : 'none' }">
    <!-- Logo centered -->
    <nav class="navbar navbar-brand navbar-collapse justify-content-center">
        <div style="position: absolute;left: 0;">
            <div id="mySidenav" class="sidenav" [style.width]="IsToggleNav == true ? '250px' : '0px'">
                <a href="javascript:void(0)" class="closebtn" (click)="toggleNav()">x</a>
                <a href="#" id="productos">Productos</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
                <hr>

                <a href="#"*ngIf="user!= undefined && user.role == 'ADMIN'" routerLink="/admin">Admin</a>
                <a href="#">Admin Chat</a>
                <hr>
                <a href="#" *ngIf="user!= undefined && user.role == 'USER'" routerLink="/user">User</a>
                <a href="#">User Chat</a>
            </div>

            <span class="burger-menu" >
                <img src="../../../assets/images/icons/menu.png" width="25" height="" alt="" (click)="toggleNav()">
            </span>

        </div>

        <a class="navbar-brand" >
            <img src="../../../assets/images/core/pharma-logo.png" id="ph_home" width="100" height="" alt="" />
        </a>
        <div style="position: absolute;right:0;" class="leftNav">
            <i style="font-style: normal">
                <input type="image"  class="bag align-middle" src="../../../assets/images/icons/shopping-bag.png"
                    width="25" height="" alt="" />
                <span class="align-text-top carrito reduce-span" id="bolsa">Mi bolsa</span>
            </i>
            <i style="font-style: normal" (click)="openSignIn()">
                <input type="image" class="account align-middle" src="../../../assets/images/icons/account.png"
                    width="25" height="" alt="" />
                <span class="align-text-top cuenta reduce-span" id="cuenta"></span>
            </i>
        </div>
    </nav>
</nav>




<app-signin (shoeRegister)="openRegister()"></app-signin>
<app-register></app-register>


