<!-- Start of navigation -->
<nav class="navbar navbar-expand  fixed-top nav-pharma" [ngStyle]="{'background': HeaderBackgroundColor == true ? 'rgba(0, 0, 0, 0.6)' : 'none' }">
    <!-- Logo centered -->
    <nav class="navbar navbar-brand navbar-collapse justify-content-center">
        <div style="position: absolute;left: 0;">
            <div id="mySidenav" class="sidenav" [style.width]=navSize>
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">X</a>
                <a href="#" (click)="closeNav()" routerLink="/home" style="color: rgb(157, 135, 8);">Home</a>
                <a href="#" id="productos" (click)="closeNav()" routerLink="/products">Productos</a>
                <a href="https://www.facebook.com/pharmafine/">Contact</a>
                <hr>

                <a href="#" *ngIf="user!= undefined && user.role == 'USER'" (click)="closeNav()"
                   routerLink="/user">User Profile</a>
                <a href="" *ngIf="user!= undefined && user.role == 'USER'" (click)="closeNav()" routerLink="/user-chat">User Chat</a>

                <hr>
                <a href="#" *ngIf="user!= undefined && user.role == 'ADMIN'" (click)="closeNav()"
                   routerLink="/admin">Admin</a>
                <a href="#" *ngIf="user!= undefined && user.role == 'ADMIN'" (click)="closeNav()" routerLink="/admin-chat" >Admin Chat</a>
            </div>

            <span class="burger-menu" style="color: rgb(157, 135, 8);">
                <img src="../../../assets/images/icons/menu.png" width="25" height="" alt="" (click)="openNav()">
            </span>

        </div>

        <a class="navbar-brand" href="#" routerLink="/home">
            <img src="../../../assets/images/core/pharma-logo.png" id="ph_home" width="100" height="" alt="" />
        </a>
        <div style="position: absolute;right:0;" class="leftNav">
            <i style="font-style: normal">
                <input type="image"  class="bag align-middle" src="../../../assets/images/icons/shopping-bag.png"
                    width="25" height="" alt="" />
                <span class="align-text-top carrito reduce-span" id="bolsa">Mi bolsa</span>
            </i>
            <i style="font-style: normal" (click)="openSignIn()" >
                <input type="image" class="account align-middle" src="../../../assets/images/icons/account.png"
                    width="25" height="" alt="" />
                <span class="align-text-top cuenta reduce-span" id="cuenta"></span>
            </i>
        </div>
    </nav>
</nav>




<app-signin (shoeRegister)="openRegister()"></app-signin>
<app-register></app-register>


