<div class="jumbotron" style="background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(55, 55, 55) 50%, rgba(128,113,0,1) 100%);
border-color: gray;">
  <div class="container text-center">
    <div>
    </div>
  </div>
</div>

<div class="container-fluid ">

  <div class="row" style="">

    <div class="col-xl-3">



      <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
        <!-- Accordion card -->

        <div class="card">

          <!-- Card header -->
          <div class="card-header" role="tab">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse-search" aria-expanded="true">
              <h5 class="mb-0">
                Género &nbsp;<i class="fa fa-angle-down"></i>
              </h5>
            </a>
          </div>

          <!-- Card body -->
          <div id="collapse-search" class="collapse"  data-parent="#accordionEx">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control text-center" value="">
                <div class="input-group-append">

                  <button class="btn btn-outline-primary fa fa-search"></button>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card">

          <!-- Card header -->
          <div class="card-header" role="tab">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse-gender" aria-expanded="true">
              <h5 class="mb-0">
                Género &nbsp;<i class="fa fa-angle-down"></i>
              </h5>
            </a>
          </div>

          <!-- Card body -->
          <div id="collapse-gender" class="collapse" role="tabpanel" data-parent="#accordionEx">
            <div class="card-body">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">Hombre</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customCheck1" name="example1">
                <label class="custom-control-label" for="customCheck1">Mujer</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customCheck2" name="example1">
                <label class="custom-control-label" for="customCheck2">Todos</label>
              </div>
            </div>
          </div>
        </div>

        <div class="card">

          <!-- Card header -->
          <div class="card-header" role="tab">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse-price" aria-expanded="true">
              <h5 class="mb-0">
                Precio &nbsp;<i class="fa fa-angle-down"></i>
              </h5>
            </a>
          </div>

          <!-- Card body -->
          <div id="collapse-price" class="collapse" role="tabpanel" data-parent="">
            <div class="card-body">

                <div class="">
                  <div class="col-5">
                    <input type="text" class="" placeholder="Mínimo">
                  </div>
                  <div class="col-5">
                    <input type="text" class="" placeholder="Máximo">
                  </div>
                  <div class="col-2">

                    <button class="btn btn-outline-primary fa fa-search "></button>

                  </div>
                </div>

            </div>
          </div>
        </div>




        <!-- Accordion card -->
      </div>



    </div>
    <!-- /.col-lg-3 -->

    <div class="col-xl-9">

      <div class="row">

        <div *ngFor="let pro of products" class="col-lg-4 col-md-6 mb-4">
          <app-product-list [product]="pro"></app-product-list>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>


